.container{
    border: 1px solid #060C65;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.name{
    margin-left: 5px;
}

.owner{
    opacity: 50%;
}

.more{
    background-color: #07021A;
    cursor: pointer;
    border: none;
}