.mainPage{
    background-color: #07021A;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 75%;
    height: 100%;
    border: #07021A;
}

.tittle{
    margin-top: 20px;
    font-size: 35px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
}

.newClassBtn{
   padding: 5px 5px;
    background-color: #07021A;
    border:none;
    border-radius: 6px;
    cursor: pointer;
}

.newClassBtn:hover{
    background-color: #0C2BA7;
}

.createdClasses{
    overflow-y: scroll;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #060C65;
    }

    &::-webkit-scrollbar-thumb {
        background: #0C2BA7;
    }
}

