*{
    margin: 0;
}
body{
    background-color: #07021A;
    color: #EAE9FC;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 25px;
}
h1{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 30px;
}