@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none; 
    border-bottom: 2px solid #060C65;
}

.name{
    font-size: 35px;
}

.home{
    margin-left: 15px;
    margin-right: 60px;
    background-color: #0B032B;
    border: none;
    cursor: pointer;
}

.export{
    margin-right: 10px;
    background: none;
    cursor: pointer;
    color: #EAE9FC;
    padding: 5px 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    border: 2px,solid, #EAE9FC;
    border-radius: 6px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
}

.canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow: auto;
    background-image: url('../public/punto.svg');
    background-repeat: repeat;
    border-left: 2px solid #060C65;
    border-right: 2px solid #060C65;
    z-index: 1;
}

.dataSet{
    margin-top: 20px;
    padding: 0px 35px;
    border: 1px solid;
    border-image: linear-gradient(150deg, #70A2FF, #0B032B, #0C2BA7) 1;
    border-radius: 10px;
    background: #0B032B;
    backdrop-filter: blur(25px);
}

.mas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height:fit-content;
    border:none;
    background-color:#70A2FF;
    border-radius: 100%;
}

.line{
    border: 2px solid #EAE9FC; 
    height: 40px; 
}

.canvasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 2px solid;
    border-image: linear-gradient(150deg, #70A2FF, #0B032B, #0C2BA7) 1;
    border-radius: 5px;
    background-color: #0B032B;
    min-height: 100px;
    width: 35%;
    height: fit-content;
}

.bloque{
    margin-top: 0px;
    opacity: 50%;
    padding: 15px 45px;
    border-radius: 6px;
    border: 2px dashed #EAE9FC;
}

.blocksAside{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.blocksAside, .codigoWrap{
    flex: 0 0 20%;
    overflow-y: auto;
    height: calc(100vh - 60px);

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #060C65;
    }

    &::-webkit-scrollbar-thumb {
        background: #0C2BA7;
    }
}