@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none; 
    border-bottom: 4px solid #060C65;
}

.home{
    background-color: #0B032B;
    border: none;
    cursor: pointer;
}

.export{
    background: none;
    cursor: pointer;
    color: #EAE9FC;
    padding: 5px 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    border: 2px,solid, #EAE9FC;
    border-radius: 6px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
}

.canvas{
    flex: 1;
    overflow: auto;
    background-image: url('../public/punto.svg');
    background-repeat: repeat;
}

.blocksAside{
    display: flex;
    flex-direction: column;
}

.blocksAside, .codigoWrap{
    flex: 0 0 20%;
    overflow-y: auto;
    height: calc(100vh - 60px);

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #060C65;
    }

    &::-webkit-scrollbar-thumb {
        background: #0C2BA7;
    }
}